.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 73px);
}

.container-project {
  max-width: 1300px;
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 2rem;
}

.content-project {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 8px 8px;
  background-color: var(--color-300);
  height: 325px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.content-project .img {
  border-radius: 20px 20px 0 0;
  width: 300px;
  min-height: 160px;
  object-fit: cover;
}

.content-project h1{
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 12px 0;
}

.content-project p {
  padding: 0 18px;
}

.content-project img {
  width: 30px;
}

.content-project a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content-project .title {
  height: 100%;
}

.projetos {
  text-align: center;
  color: var(--color-800);
  margin-bottom: 40px;
}