/* ----- GERAL -----*/

.container-skills {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 30px;
    gap: 30px;
    flex-direction: column;
    min-height: calc(100vh - 73px);
    max-width: 1200px;
    margin: 0 auto;
}

.content-skills h1 {
    font-size: 70px;
    font-weight: bolder;
    color: var(--color-800);
}

.content-skills h4 {
    padding: 50px;
    margin-top: 30px;
    font-size: 30px;
    color: rgb(58, 57, 57);
    padding: 10px;
    border-top: 0.3px solid #d490fc;;
}   

.content-skills i {
    font-size: 100px;

}

.icons-aprendendo {
    display: flex;
    justify-content: center ;
    gap: 20px;
}


@media (max-width: 540px) {
    .content-skills h4 {
        margin-top: 20px;
        padding: 30px;
        padding: 5px;
        border-top: 0.1px solid #d490fc;
    }

    .content-skills i {
        font-size: 70px;
    }

     .content-skills h1 {
        font-size: 50px;
    } 

}

@media (max-width: 500px) {
    .content-skills h1 {
        font-size: 40px;
    }
    .content-skills h4 {
        font-size: 20px;
        padding: 5px;
        border-top: 0.1px solid #d490fc;
    
    }

    .content-skills i {
        font-size: 70px;
        display: flex;
        flex-direction: column;
    }
}